* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /*background-color: #f5f5f5;*/
}

.nav {
    background-color: red;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 0 1.5rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10rem;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero img#moon {
    mix-blend-mode: screen;
}

.text {
    background-color: #1b0522;
    padding: 100px;
    height: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2rem;
}
