.composition {
    position: relative;
    z-index: 5;

        &_photo {
          width: 55%;
          box-shadow: 0 1rem 3rem rgb($color-black, 0.4);
          position: absolute;
          transition: all 0.2s;
          outline-offset: 1rem;
          &--p1 {
            left: 0;
            top: -2rem;
          }

          &--p2 {
            right: 0;
            top: 2rem;
          }

          &--p3 {
            left: 20%;
            top: 10rem;
          }

          &:hover {
            outline: 1rem solid $color-primary;
            transform: scale(1.2);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 10;
          }

        }
  &:hover &_photo:not(:hover) {
    transform: scale(0.95);
  }

}