//Colors
$color-primary: #3C7697;
$color-primary-light: #6295AB;
$color-primary-dark: #3A6A96;

$color-secondary-light: #35842c;
$color-secondary-dark: #25591f;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$font-color: #777777;
$color-white: #ffff;
$color-black: #000000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #272727;


//Fonts
$default-font: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;